In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame

In [2]:
disc_inp_data = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Combined.csv", low_memory=False)

In [3]:
disc_inp_data.head()

,subject_id,stay_id,sofa_score,respiration,coagulation,liver,cardiovascular,cns,renal,sirs,...,glucose,respiratory_rate_total,fio2,platelet,wbc,albumin,creatinine,heart_rate,temperature,spo2
0,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.89,NaN
1,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.89,NaN
2,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.89,NaN
3,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.89,NaN
4,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.89,NaN

In [4]:
print(disc_inp_data.isnull().sum())

subject_id                       0
stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                       60730
deathtime                 12769227
gender                           0
first_hosp_stay                  0
first_icu_stay                   0
gcs                            171
sofa_24hours                     0
bilirubin_total           16244756
bicarbonate               16955416
hemoglobin                16420948
chloride                  16919282
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
dtype: int64

In [5]:
disc_inp_data.shape

(16958914, 36)

In [7]:
disc_inp_data.dtypes

subject_id                  int64
stay_id                     int64
sofa_score                  int64
respiration                 int64
coagulation                 int64
liver                       int64
cardiovascular              int64
cns                         int64
renal                       int64
sirs                        int64
age                         int64
weight                    float64
deathtime                  object
gender                     object
first_hosp_stay              bool
first_icu_stay               bool
gcs                       float64
sofa_24hours                int64
bilirubin_total           float64
bicarbonate               float64
hemoglobin                float64
chloride                  float64
calcium                   float64
potassium                 float64
sodium                    float64
lactate                   float64
glucose                   float64
respiratory_rate_total    float64
fio2                      float64
platelet                  float64
wbc                       float64
albumin                   float64
creatinine                float64
heart_rate                float64
temperature               float64
spo2                      float64
dtype: object

In [8]:
disc_inp_data['died_in_hosp'] = 0

In [9]:
disc_inp_data.loc[disc_inp_data['deathtime'].isna(), 'died_in_hosp'] = 0

In [10]:
disc_inp_data.loc[disc_inp_data['deathtime'].notna(), 'died_in_hosp'] = 1

In [11]:
print(disc_inp_data['died_in_hosp'])

0           0
1           0
2           0
3           0
4           0
           ..
16958909    0
16958910    0
16958911    0
16958912    0
16958913    0
Name: died_in_hosp, Length: 16958914, dtype: int64

In [12]:
print(disc_inp_data['died_in_hosp'].value_counts())

0    12769227
1     4189687
Name: died_in_hosp, dtype: int64

In [13]:
disc_inp_data = disc_inp_data.drop(['deathtime','subject_id','first_hosp_stay','first_icu_stay'], axis=1)

In [14]:
mean_weight = disc_inp_data['weight'].mean()
disc_inp_data['weight'] = disc_inp_data['weight'].fillna(mean_weight)

In [15]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                            171
sofa_24hours                     0
bilirubin_total           16244756
bicarbonate               16955416
hemoglobin                16420948
chloride                  16919282
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [16]:
mean_gcs = disc_inp_data['gcs'].mean()
disc_inp_data['gcs'] = disc_inp_data['gcs'].fillna(mean_gcs)

In [17]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total           16244756
bicarbonate               16955416
hemoglobin                16420948
chloride                  16919282
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [18]:
mean_bilirubin_total = disc_inp_data['bilirubin_total'].mean()
disc_inp_data['bilirubin_total'] = disc_inp_data['bilirubin_total'].fillna(mean_bilirubin_total)

In [19]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate               16955416
hemoglobin                16420948
chloride                  16919282
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [20]:
mean_bicarbonate = disc_inp_data['bicarbonate'].mean()
disc_inp_data['bicarbonate'] = disc_inp_data['bicarbonate'].fillna(mean_bicarbonate)

In [21]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                16420948
chloride                  16919282
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [22]:
mean_hemoglobin = disc_inp_data['hemoglobin'].mean()
disc_inp_data['hemoglobin'] = disc_inp_data['hemoglobin'].fillna(mean_hemoglobin)

In [23]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                  16919282
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [24]:
mean_chloride = disc_inp_data['chloride'].mean()
disc_inp_data['chloride'] = disc_inp_data['chloride'].fillna(mean_chloride)

In [25]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                    8309911
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [26]:
mean_calcium = disc_inp_data['calcium'].mean()
disc_inp_data['calcium'] = disc_inp_data['calcium'].fillna(mean_calcium)

In [27]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                 16916395
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [28]:
mean_potassium = disc_inp_data['potassium'].mean()
disc_inp_data['potassium'] = disc_inp_data['potassium'].fillna(mean_potassium)

In [29]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                    16807700
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [30]:
mean_sodium = disc_inp_data['sodium'].mean()
disc_inp_data['sodium'] = disc_inp_data['sodium'].fillna(mean_sodium)

In [31]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                    4831069
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [32]:
mean_lactate = disc_inp_data['lactate'].mean()
disc_inp_data['lactate'] = disc_inp_data['lactate'].fillna(mean_lactate)

In [33]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                   13885182
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [34]:
mean_glucose = disc_inp_data['glucose'].mean()
disc_inp_data['glucose'] = disc_inp_data['glucose'].fillna(mean_glucose)

In [35]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total    16927921
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [36]:
mean_respiratory_rate_total = disc_inp_data['respiratory_rate_total'].mean()
disc_inp_data['respiratory_rate_total'] = disc_inp_data['respiratory_rate_total'].fillna(mean_respiratory_rate_total)

In [37]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                      15867524
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [38]:
mean_fio2 = disc_inp_data['fio2'].mean()
disc_inp_data['fio2'] = disc_inp_data['fio2'].fillna(mean_fio2)

In [39]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                             0
platelet                        15
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [40]:
mean_platelet = disc_inp_data['platelet'].mean()
disc_inp_data['platelet'] = disc_inp_data['platelet'].fillna(mean_platelet)

In [41]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                             0
platelet                         0
wbc                          32763
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [42]:
mean_wbc = disc_inp_data['wbc'].mean()
disc_inp_data['wbc'] = disc_inp_data['wbc'].fillna(mean_wbc)

In [43]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                             0
platelet                         0
wbc                              0
albumin                   16619118
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [44]:
mean_albumin = disc_inp_data['albumin'].mean()
disc_inp_data['albumin'] = disc_inp_data['albumin'].fillna(mean_albumin)

In [45]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                             0
platelet                         0
wbc                              0
albumin                          0
creatinine                15578116
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [46]:
mean_creatinine = disc_inp_data['creatinine'].mean()
disc_inp_data['creatinine'] = disc_inp_data['creatinine'].fillna(mean_creatinine)

In [47]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                             0
platelet                         0
wbc                              0
albumin                          0
creatinine                       0
heart_rate                 3267564
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [48]:
mean_heart_rate = disc_inp_data['heart_rate'].mean()
disc_inp_data['heart_rate'] = disc_inp_data['heart_rate'].fillna(mean_heart_rate)

In [49]:
print(disc_inp_data.isnull().sum())

stay_id                          0
sofa_score                       0
respiration                      0
coagulation                      0
liver                            0
cardiovascular                   0
cns                              0
renal                            0
sirs                             0
age                              0
weight                           0
gender                           0
gcs                              0
sofa_24hours                     0
bilirubin_total                  0
bicarbonate                      0
hemoglobin                       0
chloride                         0
calcium                          0
potassium                        0
sodium                           0
lactate                          0
glucose                          0
respiratory_rate_total           0
fio2                             0
platelet                         0
wbc                              0
albumin                          0
creatinine                       0
heart_rate                       0
temperature               12554711
spo2                       7900887
died_in_hosp                     0
dtype: int64

In [50]:
mean_temperature = disc_inp_data['temperature'].mean()
disc_inp_data['temperature'] = disc_inp_data['temperature'].fillna(mean_temperature)

In [51]:
print(disc_inp_data.isnull().sum())

stay_id                         0
sofa_score                      0
respiration                     0
coagulation                     0
liver                           0
cardiovascular                  0
cns                             0
renal                           0
sirs                            0
age                             0
weight                          0
gender                          0
gcs                             0
sofa_24hours                    0
bilirubin_total                 0
bicarbonate                     0
hemoglobin                      0
chloride                        0
calcium                         0
potassium                       0
sodium                          0
lactate                         0
glucose                         0
respiratory_rate_total          0
fio2                            0
platelet                        0
wbc                             0
albumin                         0
creatinine                      0
heart_rate                      0
temperature                     0
spo2                      7900887
died_in_hosp                    0
dtype: int64

In [52]:
mean_spo2 = disc_inp_data['spo2'].mean()
disc_inp_data['spo2'] = disc_inp_data['spo2'].fillna(mean_spo2)

In [53]:
print(disc_inp_data.isnull().sum())

stay_id                   0
sofa_score                0
respiration               0
coagulation               0
liver                     0
cardiovascular            0
cns                       0
renal                     0
sirs                      0
age                       0
weight                    0
gender                    0
gcs                       0
sofa_24hours              0
bilirubin_total           0
bicarbonate               0
hemoglobin                0
chloride                  0
calcium                   0
potassium                 0
sodium                    0
lactate                   0
glucose                   0
respiratory_rate_total    0
fio2                      0
platelet                  0
wbc                       0
albumin                   0
creatinine                0
heart_rate                0
temperature               0
spo2                      0
died_in_hosp              0
dtype: int64

In [ ]:
# add rewards - sparsely for now; reward function shaping comes in a separate script
disc_inp_data['reward'] = 0
for i in disc_inp_data.index:
    if i == 0:
        continue
    else:
        if disc_inp_data.loc[i, 'stay_id'] != disc_inp_data.loc[i-1, 'stay_id']:
            if disc_inp_data.loc[i-1, 'died_in_hosp'] == 1:
                disc_inp_data.loc[i-1,'reward'] = -100
            elif disc_inp_data.loc[i-1, 'died_in_hosp'] == 0:
                disc_inp_data.loc[i-1,'reward'] = 100
            else:
                print ("error in row"), i-1
if disc_inp_data.loc[len(disc_inp_data)-1, 'died_in_hosp'] == 1:
    disc_inp_data.loc[len(disc_inp_data)-1, 'reward'] = -100
elif disc_inp_data.loc[len(disc_inp_data)-1, 'died_in_hosp'] == 0:
     disc_inp_data.loc[len(disc_inp_data)-1, 'reward'] = 100
print (disc_inp_data['reward'].value_counts())

In [ ]:
# now split into train/validation/test sets
import random
unique_ids = disc_inp_data['stay_id'].unique()
random.shuffle(unique_ids)
train_sample = 0.7
val_sample = 0.1
test_sample = 0.2
train_num = int(len(unique_ids) * 0.7)
val_num = int(len(unique_ids)*0.1) + train_num
train_ids = unique_ids[:train_num]
val_ids = unique_ids[train_num:val_num]
test_ids = unique_ids[val_num:]

In [ ]:
train_set = DataFrame()
train_set = disc_inp_data.loc[disc_inp_data['stay_id'].isin(train_ids)]

val_set = DataFrame()
val_set = disc_inp_data.loc[disc_inp_data['stay_id'].isin(val_ids)]

test_set = DataFrame()
test_set = disc_inp_data.loc[disc_inp_data['stay_id'].isin(test_ids)]