In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
sepsis3 = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Sepsis3.csv")

In [3]:
sepsis3.drop(['sepsis3', 'antibiotic_time', 'culture_time', 'suspected_infection_time', 'sofa_time'], axis=1, inplace=True)

In [4]:
sepsis3['sofa_score'] = sepsis3['sofa_score'].astype('int8')
sepsis3['respiration'] = sepsis3['respiration'].astype('int8')
sepsis3['coagulation'] = sepsis3['coagulation'].astype('int8')
sepsis3['liver'] = sepsis3['liver'].astype('int8')
sepsis3['cardiovascular'] = sepsis3['cardiovascular'].astype('int8')
sepsis3['cns'] = sepsis3['cns'].astype('int8')
sepsis3['renal'] = sepsis3['renal'].astype('int8')
sepsis3['subject_id'] = sepsis3['subject_id'].astype('int32')
sepsis3['stay_id'] = sepsis3['stay_id'].astype('int32')

In [5]:
sirs = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\SIRS.csv")

In [6]:
sirs['stay_id'] = sirs['stay_id'].astype('int32')
sirs['sirs'] = sirs['sirs'].astype('int8')

In [7]:
join1 = sepsis3.merge(sirs, on='stay_id', how='left')

In [8]:
age = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Age.csv")

In [9]:
age['subject_id'] = age['subject_id'].astype('int32')
age['age'] = age['age'].astype('int8')

In [10]:
join2 = join1.merge(age, on='subject_id', how='left')

In [11]:
weight = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Weight.csv")

In [12]:
weight['stay_id'] = weight['stay_id'].astype('int32')
weight['weight'] = weight['weight'].astype('float32')

In [13]:
join3 = join2.merge(weight, on='stay_id', how='left')

In [14]:
admissions = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Admissions.csv")

In [15]:
admissions['subject_id'] = admissions['subject_id'].astype('int32')

In [16]:
join4 = join3.merge(admissions, on='subject_id', how='left')

In [17]:
icustaydetails = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\ICUStayDetails.csv")

In [18]:
icustaydetails['subject_id'] = icustaydetails['subject_id'].astype('int32')

In [19]:
join5 = join4.merge(icustaydetails, on='subject_id', how='left')

In [20]:
gcs = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\GCS.csv")

In [21]:
gcs['stay_id'] = gcs['stay_id'].astype('int32')
gcs['gcs'] = gcs['gcs'].astype('int8')

In [22]:
join6 = join5.merge(gcs, on='stay_id', how='left')

In [23]:
sofa = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\SOFA.csv")

In [24]:
sofa['stay_id'] = sofa['stay_id'].astype('int32')
sofa['sofa_24hours'] = sofa['sofa_24hours'].astype('int8')

In [25]:
join7 = join6.merge(sofa, on='stay_id', how='left')

In [26]:
enzyme = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Enzyme1.csv")

In [27]:
enzyme['subject_id'] = enzyme['subject_id'].astype('int32')
enzyme['bilirubin_total'] = enzyme['bilirubin_total'].astype('float32')

In [28]:
join8 = join7.merge(enzyme, on='subject_id', how='left')

In [29]:
bg = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\bg1.csv")

In [30]:
bg['subject_id'] = bg['subject_id'].astype('int32')
bg['bicarbonate'] = bg['bicarbonate'].astype('float32')
bg['hemoglobin'] = bg['hemoglobin'].astype('float32')
bg['chloride'] = bg['chloride'].astype('float32')
bg['calcium'] = bg['calcium'].astype('float32')
bg['potassium'] = bg['potassium'].astype('float32')
bg['sodium'] = bg['sodium'].astype('float32')
bg['lactate'] = bg['lactate'].astype('float32')
bg['glucose'] = bg['glucose'].astype('float32')

In [31]:
join9 = join8.merge(bg, on='subject_id', how='left')

In [32]:
ventilatorsetting = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\VentilatorSetting1.csv")

In [33]:
ventilatorsetting['stay_id'] = ventilatorsetting['stay_id'].astype('int32')
ventilatorsetting['respiratory_rate_total'] = ventilatorsetting['respiratory_rate_total'].astype('float32')
ventilatorsetting['fio2'] = ventilatorsetting['fio2'].astype('float32')

In [34]:
join10 = join9.merge(ventilatorsetting, on='stay_id', how='left')

In [35]:
bloodcount = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Bloodcount1.csv")

In [36]:
bloodcount['subject_id'] = bloodcount['subject_id'].astype('int32')
bloodcount['platelet'] = bloodcount['platelet'].astype('float32')
bloodcount['wbc'] = bloodcount['wbc'].astype('float32')

In [37]:
join11 = join10.merge(bloodcount, on='subject_id', how='left')

In [38]:
chemistry = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Chemistry1.csv")

In [39]:
chemistry['subject_id'] = chemistry['subject_id'].astype('int32')
chemistry['albumin'] = chemistry['albumin'].astype('float32')
chemistry['creatinine'] = chemistry['creatinine'].astype('float32')

In [40]:
join12 = join11.merge(chemistry, on='subject_id', how='left')

In [41]:
vitalsign = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Vitalsign1.csv")

In [42]:
vitalsign['stay_id'] = vitalsign['stay_id'].astype('int32')
vitalsign['heart_rate'] = vitalsign['heart_rate'].astype('float32')
vitalsign['temperature'] = vitalsign['temperature'].astype('float32')
vitalsign['spo2'] = vitalsign['spo2'].astype('float32')

In [43]:
join13 = join12.merge(vitalsign, on='stay_id', how='left')

In [44]:
join13.head()

,subject_id,stay_id,sofa_score,respiration,coagulation,liver,cardiovascular,cns,renal,sirs,...,glucose,respiratory_rate_total,fio2,platelet,wbc,albumin,creatinine,heart_rate,temperature,spo2
0,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
1,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
2,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
3,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
4,18426683,33144981,2,0,0,0,0,0,2,3,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN

In [45]:
join13.shape

(16958914, 36)

In [ ]:
join13.to_csv(path_or_buf=None, float_format='%.2f', index=False, mode='w', chunksize=None)

In [46]:
join13.to_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Combined.csv", index=False, chunksize=1000)