In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame

In [2]:
sepsis3 = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Sepsis3.csv")
sofa = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\SOFA.csv")
sirs = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\SIRS.csv")
age = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Age.csv")
bg = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\bg.csv")
bloodcount = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Bloodcount.csv")
chemistry = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Chemistry.csv")
enzyme = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Enzyme.csv")
gcs = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\GCS.csv")
icustaydetails = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\ICUStayDetails.csv")
ventilatorsetting = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\VentilatorSetting.csv")
vitalsign = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Vitalsign.csv")
weight = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Weight.csv")
admissions = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Admissions.csv")

In [3]:
sepsis3.head()

,subject_id,stay_id,antibiotic_time,culture_time,suspected_infection_time,sofa_time,sofa_score,respiration,coagulation,liver,cardiovascular,cns,renal,sepsis3
0,18426683,33144981,2160-06-12 01:00:00,2160-06-11 18:09:00,2160-06-11 18:09:00,2160-06-12 02:00:00,2,0,0,0,0,0,2,True
1,13575012,39676188,2175-01-09 10:00:00,2175-01-06 13:40:00,2175-01-06 13:40:00,2175-01-06 14:00:00,2,0,1,0,0,1,0,True
2,10978369,35499094,2119-01-17 23:00:00,2119-01-17 23:15:00,2119-01-17 23:00:00,2119-01-17 23:00:00,2,0,1,0,0,0,1,True
3,18310719,37925008,2130-07-30 00:00:00,2130-07-27 22:21:00,2130-07-27 22:21:00,2130-07-28 10:00:00,2,2,0,0,0,0,0,True
4,14897163,35503068,2172-11-06 20:00:00,2172-11-05 15:59:00,2172-11-05 15:59:00,2172-11-05 17:00:00,2,2,0,0,0,0,0,True

In [ ]:
#Check whether any of the patients do not have sepsis
print(sepsis3['sepsis3'].value_counts())

In [22]:
#Confirm all records have sepsis
sepsis3.shape

(32971, 9)

In [4]:
#Remove 'sepsis' and time related columns from dataframe since all entries have sepsis. Not needed to create state space
sepsis3 = sepsis3.drop('sepsis3', axis=1)
sepsis3 = sepsis3.drop('antibiotic_time', axis=1)
sepsis3 = sepsis3.drop('culture_time', axis=1)
sepsis3 = sepsis3.drop('suspected_infection_time', axis=1)
sepsis3 = sepsis3.drop('sofa_time', axis=1)

In [5]:
sepsis3.head()

,subject_id,stay_id,sofa_score,respiration,coagulation,liver,cardiovascular,cns,renal
0,18426683,33144981,2,0,0,0,0,0,2
1,13575012,39676188,2,0,1,0,0,1,0
2,10978369,35499094,2,0,1,0,0,0,1
3,18310719,37925008,2,2,0,0,0,0,0
4,14897163,35503068,2,2,0,0,0,0,0

In [6]:
sepsis3.dtypes

subject_id        int64
stay_id           int64
sofa_score        int64
respiration       int64
coagulation       int64
liver             int64
cardiovascular    int64
cns               int64
renal             int64
dtype: object

In [7]:
sepsis3['sofa_score'] = sepsis3['sofa_score'].astype('int8')
sepsis3['respiration'] = sepsis3['respiration'].astype('int8')
sepsis3['coagulation'] = sepsis3['coagulation'].astype('int8')
sepsis3['liver'] = sepsis3['liver'].astype('int8')
sepsis3['cardiovascular'] = sepsis3['cardiovascular'].astype('int8')
sepsis3['cns'] = sepsis3['cns'].astype('int8')
sepsis3['renal'] = sepsis3['renal'].astype('int8')
sepsis3['subject_id'] = sepsis3['subject_id'].astype('int32')
sepsis3['stay_id'] = sepsis3['stay_id'].astype('int32')

In [8]:
sofa.shape
#done

(173798, 2)

In [9]:
sirs.shape 
#done

(32971, 2)

In [10]:
age.shape
#done

(52187, 2)

In [11]:
bg.shape

(283300, 9)

In [12]:
bloodcount.shape

(1111732, 3)

In [13]:
chemistry.shape

(1322148, 3)

In [14]:
enzyme.shape

(187578, 2)

In [15]:
gcs.shape
#done

(86679, 2)

In [16]:
icustaydetails.shape
#done

(36658, 4)

In [17]:
ventilatorsetting.shape

(315129, 3)

In [18]:
vitalsign.shape

(3544122, 4)

In [19]:
weight.shape
#done

(98704, 2)

In [20]:
admissions.shape
#done

(28795, 2)

In [23]:
join1 = sepsis3.merge(sirs, on='stay_id', how='left')

In [25]:
join2 = join1.merge(age, on='subject_id', how='left')

In [27]:
join3 = join2.merge(weight, on='stay_id', how='left')

In [29]:
join4 = join3.merge(admissions, on='subject_id', how='left')

In [31]:
join5 = join4.merge(icustaydetails, on='subject_id', how='left')

In [33]:
join6 = join5.merge(gcs, on='stay_id', how='left')

In [35]:
join7 = join6.merge(sofa, on='stay_id', how='left')

In [38]:
join7.shape

(16958914, 18)

In [39]:
join7.head()

,subject_id,stay_id,sofa_score,respiration,coagulation,liver,cardiovascular,cns,renal,sirs,age,weight,deathtime,gender,first_hosp_stay,first_icu_stay,gcs,sofa_24hours
0,18426683,33144981,2,0,0,0,0,0,2,3,75,54.0,NaN,M,False,True,11.0,0
1,18426683,33144981,2,0,0,0,0,0,2,3,75,54.0,NaN,M,False,True,11.0,1
2,18426683,33144981,2,0,0,0,0,0,2,3,75,54.0,NaN,M,False,True,11.0,2
3,18426683,33144981,2,0,0,0,0,0,2,3,75,54.0,NaN,M,False,True,11.0,3
4,18426683,33144981,2,0,0,0,0,0,2,3,75,54.0,NaN,M,False,True,11.0,4

In [40]:
enzyme.shape

(187578, 2)

In [43]:
enzyme.dtypes

subject_id           int64
bilirubin_total    float64
dtype: object

In [44]:
enzyme['subject_id'] = enzyme['subject_id'].astype('int32')

In [47]:
testing = enzyme.drop_duplicates(subset=['subject_id'])

In [48]:
testing.head()

   subject_id  bilirubin_total
0    11573679              NaN
1    18817034              NaN
2    16654740              NaN
3    19014854              NaN
4    17388366              NaN

In [49]:
testing.shape

(24813, 2)

In [50]:
enzyme = enzyme.drop_duplicates(subset=['subject_id'])

In [51]:
join8 = join7.merge(enzyme, on='subject_id', how='left')

MemoryError: Unable to allocate 129. MiB for an array with shape (16958914,) and data type int64

In [21]:
sepsis3.dtypes

subject_id        int32
stay_id           int32
sofa_score         int8
respiration        int8
coagulation        int8
liver              int8
cardiovascular     int8
cns                int8
renal              int8
dtype: object

In [34]:
sofa.head()

    stay_id  sofa_24hours
0  38965278             0
1  39707309             0
2  36569622             0
3  38733117             0
4  39672356             0

In [ ]:
#Check what is the spread of values in sofa_24hours
print(sofa['sofa_24hours'].value_counts())
#Only got value 0 in the column 'sofa_24hours'

In [ ]:
print(sofa.isnull().sum())

In [ ]:
sofa.dtypes

In [ ]:
sofa['stay_id'] = sofa['stay_id'].astype('int32')
sofa['sofa_24hours'] = sofa['sofa_24hours'].astype('int8')

In [ ]:
sirs.head()

In [ ]:
#Check what is the spread of values for sirs
print(sirs['sirs'].value_counts())

In [ ]:
print(sirs.isnull().sum())

In [ ]:
sirs['stay_id'] = sirs['stay_id'].astype('int32')
sirs['sirs'] = sirs['sirs'].astype('int8')

In [24]:
age.head()

   subject_id  age
0    10731984   18
1    17590005   18
2    18684109   18
3    19850244   18
4    13207437   18

In [ ]:
#Check what is the spread of values for age
print(age['age'].value_counts())
print(age.isnull().sum())

In [ ]:
age['subject_id'] = age['subject_id'].astype('int32')
age['age'] = age['age'].astype('int8')

In [ ]:
bg.head()

In [ ]:
print(bg.isnull().sum())

In [ ]:
bg.dtypes

In [ ]:
bg['subject_id'] = bg['subject_id'].astype('int32')
bg['bicarbonate'] = bg['bicarbonate'].astype('float32')
bg['hemoglobin'] = bg['hemoglobin'].astype('float32')
bg['chloride'] = bg['chloride'].astype('float32')
bg['calcium'] = bg['calcium'].astype('float32')
bg['potassium'] = bg['potassium'].astype('float32')
bg['sodium'] = bg['sodium'].astype('float32')
bg['lactate'] = bg['lactate'].astype('float32')
bg['glucose'] = bg['glucose'].astype('float32')

In [ ]:
bloodcount.head()

In [ ]:
print(bloodcount.isnull().sum())

In [ ]:
bloodcount.dtypes

In [ ]:
bloodcount['subject_id'] = bloodcount['subject_id'].astype('int32')
bloodcount['platelet'] = bloodcount['platelet'].astype('float32')
bloodcount['wbc'] = bloodcount['wbc'].astype('float32')

In [ ]:
chemistry.head()

In [ ]:
print(chemistry.isnull().sum())

In [ ]:
chemistry.shape

In [ ]:
chemistry.dtypes

In [ ]:
chemistry['subject_id'] = chemistry['subject_id'].astype('int32')
chemistry['albumin'] = chemistry['albumin'].astype('float32')
chemistry['creatinine'] = chemistry['creatinine'].astype('float32')

In [36]:
enzyme.head()

   subject_id  bilirubin_total
0    11573679              NaN
1    18817034              NaN
2    16654740              NaN
3    19014854              NaN
4    17388366              NaN

In [ ]:
print(enzyme.isnull().sum())

In [ ]:
enzyme.dtypes

In [ ]:
enzyme['subject_id'] = enzyme['subject_id'].astype('int32')
enzyme['bilirubin_total'] = enzyme['bilirubin_total'].astype('float32')

In [32]:
gcs.head()

    stay_id  gcs
0  39648536    3
1  37996984    3
2  34004644    3
3  38685632    3
4  31673161    3

In [ ]:
print(gcs.isnull().sum())

In [ ]:
gcs.dtypes

In [ ]:
print(gcs['gcs'].value_counts())

In [ ]:
gcs['stay_id'] = gcs['stay_id'].astype('int32')
gcs['gcs'] = gcs['gcs'].astype('int8')

In [30]:
icustaydetails.head()

   subject_id gender  first_hosp_stay  first_icu_stay
0    17905563      F            False            True
1    17967857      F            False            True
2    11465246      F            False            True
3    17371025      F            False            True
4    14454179      F            False            True

In [ ]:
print(icustaydetails.isnull().sum())

In [ ]:
icustaydetails.dtypes

In [ ]:
icustaydetails['subject_id'] = icustaydetails['subject_id'].astype('int32')

In [ ]:
ventilatorsetting.head()

In [ ]:
print(ventilatorsetting.isnull().sum())

In [ ]:
ventilatorsetting.dtypes

In [ ]:
ventilatorsetting['stay_id'] = ventilatorsetting['stay_id'].astype('int32')
ventilatorsetting['respiratory_rate_total'] = ventilatorsetting['respiratory_rate_total'].astype('float32')
ventilatorsetting['fio2'] = ventilatorsetting['fio2'].astype('float32')

In [ ]:
vitalsign.head()

In [ ]:
print(vitalsign.isnull().sum())

In [ ]:
vitalsign.dtypes

In [ ]:
vitalsign['stay_id'] = vitalsign['stay_id'].astype('int32')
vitalsign['heart_rate'] = vitalsign['heart_rate'].astype('float32')
vitalsign['temperature'] = vitalsign['temperature'].astype('float32')
vitalsign['spo2'] = vitalsign['spo2'].astype('float32')

In [26]:
weight.head()

    stay_id  weight
0  35461582     2.0
1  36928437     4.0
2  31399404     7.5
3  32588322    10.0
4  32449077    10.0

In [ ]:
print(weight.isnull().sum())

In [ ]:
weight.dtypes

In [ ]:
weight['stay_id'] = weight['stay_id'].astype('int32')
weight['weight'] = weight['weight'].astype('float32')

In [ ]:
testjoin = sepsis3.merge(sofa, on='stay_id', how='inner')

In [ ]:
testjoin2 = testjoin.merge(weight, on='stay_id', how='inner')

In [ ]:
testjoin3 = testjoin2.merge(vitalsign,on='stay_id', how='inner' )

In [ ]:
testjoin = sepsis3.merge(sofa, on='stay_id', how='outer').merge(weight, on='stay_id', how='outer').merge(vitalsign,on='stay_id', how='outer' ).merge(ventilatorsetting,on='stay_id', how='outer').merge( gcs, on='stay_id', how='outer').merge(sirs,on='stay_id', how='outer')

In [ ]:
testjoin.head()

In [ ]:
testjoin.shape[0]

In [ ]:
furtherjoin = testjoin.merge(icustaydetails,on='subject_id', how='outer').merge(enzyme,on='subject_id', how='outer').merge(chemistry,on='subject_id', how='outer').merge(bloodcount,on='subject_id', how='outer').merge(bg,on='subject_id', how='outer').merge(age,on='subject_id', how='outer')

In [ ]:
furtherjoin.shape[0]

In [ ]:
furtherjoin.head()

In [ ]:
furtherjoin.describe()

In [ ]:
furtherjoin.isnull().sum()

In [3]:
admissions.head()

   subject_id deathtime
0    10433099       NaN
1    11343907       NaN
2    14878442       NaN
3    16473254       NaN
4    18367977       NaN

In [4]:
admissions.isnull().sum()

subject_id        0
deathtime     23337
dtype: int64

In [5]:
admissions.dtypes

subject_id     int64
deathtime     object
dtype: object

In [ ]:
admissions['subject_id'] = admissions['subject_id'].astype('int32')