In [27]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [28]:
sepsis3 = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Sepsis3.csv")

In [29]:
sepsis3.head()

,subject_id,stay_id,antibiotic_time,culture_time,suspected_infection_time,sofa_time,sofa_score,respiration,coagulation,liver,cardiovascular,cns,renal,sepsis3
0,18426683,33144981,2160-06-12 01:00:00,2160-06-11 18:09:00,2160-06-11 18:09:00,2160-06-12 02:00:00,2,0,0,0,0,0,2,True
1,13575012,39676188,2175-01-09 10:00:00,2175-01-06 13:40:00,2175-01-06 13:40:00,2175-01-06 14:00:00,2,0,1,0,0,1,0,True
2,10978369,35499094,2119-01-17 23:00:00,2119-01-17 23:15:00,2119-01-17 23:00:00,2119-01-17 23:00:00,2,0,1,0,0,0,1,True
3,18310719,37925008,2130-07-30 00:00:00,2130-07-27 22:21:00,2130-07-27 22:21:00,2130-07-28 10:00:00,2,2,0,0,0,0,0,True
4,14897163,35503068,2172-11-06 20:00:00,2172-11-05 15:59:00,2172-11-05 15:59:00,2172-11-05 17:00:00,2,2,0,0,0,0,0,True

In [30]:
sepsis3.drop(['sepsis3', 'antibiotic_time', 'culture_time', 'suspected_infection_time', 'sofa_time', 'respiration', 'coagulation', 'liver', 'cardiovascular', 'cns', 'renal'], axis=1, inplace=True)

In [31]:
#sepsis3['sofa_score'] = sepsis3['sofa_score'].astype('int8')
#sepsis3['respiration'] = sepsis3['respiration'].astype('int8')
#sepsis3['coagulation'] = sepsis3['coagulation'].astype('int8')
#sepsis3['liver'] = sepsis3['liver'].astype('int8')
#sepsis3['cardiovascular'] = sepsis3['cardiovascular'].astype('int8')
#sepsis3['cns'] = sepsis3['cns'].astype('int8')
#sepsis3['renal'] = sepsis3['renal'].astype('int8')
sepsis3['subject_id'] = sepsis3['subject_id'].astype('int32')
sepsis3['stay_id'] = sepsis3['stay_id'].astype('int32')

In [32]:
sepsis3.shape

(32971, 3)

In [33]:
sirs = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\SIRS.csv")

In [34]:
sirs['stay_id'] = sirs['stay_id'].astype('int32')
sirs['sirs'] = sirs['sirs'].astype('int8')

In [35]:
join1 = sepsis3.merge(sirs, on='stay_id', how='inner', copy=False)

In [36]:
join1.shape

(32971, 4)

In [37]:
age = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Age.csv")

In [38]:
age.shape

(52187, 2)

In [39]:
age['subject_id'] = age['subject_id'].astype('int32')
age['age'] = age['age'].astype('int8')

In [40]:
join2 = join1.merge(age, on='subject_id', how='inner', copy=False)

In [41]:
join2.shape

(79593, 5)

In [42]:
weight = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Weight.csv")

In [43]:
weight['stay_id'] = weight['stay_id'].astype('int32')
weight['weight'] = weight['weight'].astype('float32')

In [44]:
join3 = join2.merge(weight, on='stay_id', how='inner')

In [45]:
join3.shape

(226962, 6)

In [46]:
admissions = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Admissions.csv")

In [47]:
admissions['subject_id'] = admissions['subject_id'].astype('int32')

In [48]:
join4 = join3.merge(admissions, on='subject_id', how='inner')

In [49]:
icustaydetails = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\ICUStayDetails.csv")

In [50]:
icustaydetails['subject_id'] = icustaydetails['subject_id'].astype('int32')

In [51]:
join5 = join4.merge(icustaydetails, on='subject_id', how='inner')

In [52]:
gcs = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\GCS.csv")

In [53]:
gcs['stay_id'] = gcs['stay_id'].astype('int32')
gcs['gcs'] = gcs['gcs'].astype('int8')

In [54]:
join6 = join5.merge(gcs, on='stay_id', how='inner')

In [55]:
sofa = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\SOFA.csv")

In [56]:
sofa['stay_id'] = sofa['stay_id'].astype('int32')
sofa['sofa_24hours'] = sofa['sofa_24hours'].astype('int8')

In [57]:
join7 = join6.merge(sofa, on='stay_id', how='inner')

In [58]:
join7.shape

(16898051, 12)

In [59]:
enzyme = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Enzyme1.csv")

In [60]:
enzyme['subject_id'] = enzyme['subject_id'].astype('int32')
enzyme['bilirubin_total'] = enzyme['bilirubin_total'].astype('float32')

In [61]:
join8 = join7.merge(enzyme, on='subject_id', how='inner')

In [62]:
bg = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\bg1.csv")

In [63]:
bg['subject_id'] = bg['subject_id'].astype('int32')
bg['bicarbonate'] = bg['bicarbonate'].astype('float32')
bg['hemoglobin'] = bg['hemoglobin'].astype('float32')
bg['chloride'] = bg['chloride'].astype('float32')
bg['calcium'] = bg['calcium'].astype('float32')
bg['potassium'] = bg['potassium'].astype('float32')
bg['sodium'] = bg['sodium'].astype('float32')
bg['lactate'] = bg['lactate'].astype('float32')
bg['glucose'] = bg['glucose'].astype('float32')

In [64]:
join9 = join8.merge(bg, on='subject_id', how='inner')

In [65]:
ventilatorsetting = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\VentilatorSetting1.csv")

In [66]:
ventilatorsetting['stay_id'] = ventilatorsetting['stay_id'].astype('int32')
ventilatorsetting['respiratory_rate_total'] = ventilatorsetting['respiratory_rate_total'].astype('float32')
ventilatorsetting['fio2'] = ventilatorsetting['fio2'].astype('float32')

In [67]:
join10 = join9.merge(ventilatorsetting, on='stay_id', how='inner')

In [68]:
bloodcount = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Bloodcount1.csv")

In [69]:
bloodcount['subject_id'] = bloodcount['subject_id'].astype('int32')
bloodcount['platelet'] = bloodcount['platelet'].astype('float32')
bloodcount['wbc'] = bloodcount['wbc'].astype('float32')

In [70]:
join11 = join10.merge(bloodcount, on='subject_id', how='inner')

In [71]:
join11.shape

(15748542, 25)

In [72]:
chemistry = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Chemistry1.csv")

In [73]:
chemistry['subject_id'] = chemistry['subject_id'].astype('int32')
chemistry['albumin'] = chemistry['albumin'].astype('float32')
chemistry['creatinine'] = chemistry['creatinine'].astype('float32')

In [74]:
join12 = join11.merge(chemistry, on='subject_id', how='inner')

In [75]:
join12.shape

(15748542, 27)

In [76]:
vitalsign = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Vitalsign1.csv")

In [77]:
vitalsign['stay_id'] = vitalsign['stay_id'].astype('int32')
vitalsign['heart_rate'] = vitalsign['heart_rate'].astype('float32')
vitalsign['temperature'] = vitalsign['temperature'].astype('float32')
vitalsign['spo2'] = vitalsign['spo2'].astype('float32')

In [78]:
join13 = join12.merge(vitalsign, on='stay_id', how='inner')

In [79]:
join13.shape

(15748542, 30)

In [80]:
join13.head()

,subject_id,stay_id,sofa_score,sirs,age,weight,deathtime,gender,first_hosp_stay,first_icu_stay,...,glucose,respiratory_rate_total,fio2,platelet,wbc,albumin,creatinine,heart_rate,temperature,spo2
0,18426683,33144981,2,3,75,54.0,NaN,M,False,True,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
1,18426683,33144981,2,3,75,54.0,NaN,M,False,True,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
2,18426683,33144981,2,3,75,54.0,NaN,M,False,True,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
3,18426683,33144981,2,3,75,54.0,NaN,M,False,True,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN
4,18426683,33144981,2,3,75,54.0,NaN,M,False,True,...,NaN,NaN,NaN,213.0,22.0,NaN,NaN,NaN,36.889999,NaN

In [81]:
print(join13.isnull().sum())

subject_id                       0
stay_id                          0
sofa_score                       0
sirs                             0
age                              0
weight                           0
deathtime                 11845396
gender                           0
first_hosp_stay                  0
first_icu_stay                   0
gcs                              0
sofa_24hours                     0
bilirubin_total           15093700
bicarbonate               15745986
hemoglobin                15276693
chloride                  15723122
calcium                    7506314
potassium                 15726722
sodium                    15632438
lactate                    4499233
glucose                   12770713
respiratory_rate_total    15718899
fio2                      14688546
platelet                         0
wbc                          27046
albumin                   15443650
creatinine                14561884
heart_rate                 2779190
temperature               11644857
spo2                       7343699
dtype: int64

In [82]:
join13.drop(['first_hosp_stay', 'first_icu_stay'], axis=1, inplace=True)

In [94]:
vassopressin = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Vassopresin1.csv")

In [95]:
vassopressin['stay_id'] = vassopressin['stay_id'].astype('int32')
vassopressin['vaso_rate'] = vassopressin['vaso_rate'].astype('float32')
vassopressin['vaso_amount'] = vassopressin['vaso_amount'].astype('float32')

In [96]:
vassopressin.shape

(3703, 3)

In [97]:
join14 = join13.merge(vassopressin, on='stay_id', how='inner')

In [98]:
urine = pd.read_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Urine1.csv")

In [99]:
urine['stay_id'] = urine['stay_id'].astype('int32')
urine['urineoutput'] = urine['urineoutput'].astype('float32')

In [100]:
urine.shape

(32011, 2)

In [101]:
join15 = join14.merge(urine, on='stay_id', how='inner')

In [102]:
join15.head()

,subject_id,stay_id,sofa_score,sirs,age,weight,deathtime,gender,gcs,sofa_24hours,...,platelet,wbc,albumin,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput
0,13968456,34712382,7,3,91,51.0,NaN,F,14,7,...,169.0,1.7,NaN,2.4,60.0,NaN,96.0,2.400000,14.799999,0.0
1,13968456,34712382,7,3,91,51.0,NaN,F,14,7,...,169.0,1.7,NaN,2.4,60.0,NaN,96.0,2.400000,14.799999,0.0
2,13968456,34712382,7,3,91,51.0,2176-04-08 18:35:00,F,14,7,...,169.0,1.7,NaN,2.4,60.0,NaN,96.0,2.400000,14.799999,0.0
3,13968456,34712382,7,3,91,51.0,2176-04-08 18:35:00,F,14,7,...,169.0,1.7,NaN,2.4,60.0,NaN,96.0,2.400000,14.799999,0.0
4,12678286,30902754,2,4,87,80.0,2124-08-28 00:00:00,M,8,1,...,87.0,13.2,NaN,0.5,120.0,NaN,97.0,2.406079,39.058681,30.0

In [103]:
join15.shape

(6038365, 31)

In [104]:
join15.to_csv("C:\\Users\\sara1\\Desktop\\Rawdata\\Combined.csv", index=False, chunksize=5000)